{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Sistema Web{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/estilosLogin.css'%}">
</head>
<body>

    <div class="container">
        <div class="logo">
            <img src="{% static 'images/logo_nuevo.png' %}" alt="Logo">
        </div>
        <h1 class="titulo">{% block page_title %}Bienvenido{% endblock %}</h1>

        {% if messages %}
            {% for message in messages %}
                <div class="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="formulario">
        {% block content %}
        <!-- Aquí va el contenido de cada página -->
        {% endblock %}
        </div>
    </div>
</body>
</html>
