{% extends "usuario/baseLogin.html" %}
{% load static %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
    <h2 class="subtitulo">Ingresa y mantente al día con tu equipo</h2>
    <form action="{% url 'usuario:iniciar_sesion' %}" method="post" class="inicio_sesion">
        {% csrf_token %}

        <div>
            <input type="text" name="usuario" id="id_usuario" required placeholder="Introduce tu usuario">
        </div>

        <div>
            <input type="password" name="password" id="id_password" required placeholder="Introduce tu contraseña">
        </div>

        <div>
            <input type="submit" value="Iniciar Sesión" class="boton nav-link boton_enviar sombra">
        </div>
    </form>

    <p class="redireccion">¿No tienes una cuenta? <a href="{% url 'usuario:registrarse' %}">Regístrate</a></p>
{% endblock %}

{% block page_scripts %}
<script src="{% static 'js/inicioSesion.js' %}"></script>
{% endblock %}
