{% extends "usuario/baseLogin.html" %}
{% load static %}
{% load i18n %}
{% block title %}Perfil de Usuario - {{ usuario }}{% endblock %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-body p-4 p-md-5 text-center">
        <h2 class="card-title mb-3">¡Hola de nuevo, <span class="fw-semibold">{{ usuario }}</span>!</h2>
        
        <p class="lead mb-4">Es un gusto tenerte por aquí.</p>

        {# Asegúrate de que 'usuario:cerrar_sesion' sea el nombre correcto de tu URL para cerrar sesión en urls.py #}
        <a href="{% url 'usuario:cerrar_sesion' %}" class="btn btn-outline-danger btn-lg px-4">
            {% translate "Cerrar Sesión" %}
        </a>
    </div>
</div>
{% endblock %}

{# {% block page_scripts %}
 Si necesitas JS específico para esta página, puedes añadirlo aquí.
{% endblock %} #}