{% extends "usuario/baseLogin.html" %}
{% load static %}

{% block title %}Crear una Cuenta{% endblock %}

{% block content %}
<h2 class="subtitulo">Crea tu cuenta</h2>

<form action="{% url 'usuario:registrarse' %}" method="post" class="formulario_registro">
    {% csrf_token %}

    <div>
        <input type="text" name="nombre" id="id_nombre" placeholder="Nombre" required>
    </div>

    <div>
        <input type="text" name="apellido" id="id_apellido" placeholder="Apellido" required>
    </div>

    <div>
        <input type="text" name="usuario" id="id_usuario" placeholder="Nombre de Usuario" required>
    </div>

    <div>
        <input type="email" name="email" id="id_email" placeholder="Correo Electrónico" required>
    </div>

    <div>
        <input type="password" name="password1" id="id_password1" placeholder="Contraseña" required>
    </div>

    <div>
        <input type="password" name="password2" id="id_password2" placeholder="Confirmar Contraseña" required>
    </div>

    <div>
        <button type="submit" class="boton boton_enviar nav-link">Registrarse</button>
    </div>
</form>

<p class="redireccion">¿Ya tienes una cuenta? <a href="{% url 'usuario:iniciar_sesion' %}">Inicia sesión</a></p>
{% endblock %}

{% block page_scripts %}
<script src="{% static 'js/inicioSesion.js' %}"></script>
{% endblock %}
