{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Gestor de tarea en equipo{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}{% endblock %} <!-- Espacio para CSS adicional en otras plantillas -->
</head>

<body>
    <div class="contenedor_principal">
        <nav class="navbar">
            <div class="container_nav">
                <a class="navbar-brand nav-link" href="{% url 'proyecto:index' %}">
                    <img src="{% static 'images/logo_nuevo.png' %}" alt="logo" width="50">
                    <h3>TaskFlow</h3>
                </a>
                <div class="navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'proyecto:lista_proyectos' %}">Mis Proyectos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'proyecto:crear_proyecto' %}">Nuevo Proyecto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'usuario:cerrar_sesion' %}">Cerrar Sesión</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'usuario:iniciar_sesion' %}">Iniciar Sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'usuario:registrarse' %}">Registrarse</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div class="contenido_cuerpo">
            <!-- Contenido principal -->
            <div class="container mt-4">
                {% block content %}
                {% endblock %}
            </div>

            <!-- Pie de página -->
            <footer class="footer">
                <div>
                    <p class="mb-0">© 2024 Gestor de Tareas en Equipo</p>
                </div>
            </footer>
        </div>
    </div>
    <div class="contenedor_secundario">
        <div class="logo">
            <img src="{% static 'images/logo_nuevo.png' %}" alt="logo">
            <h2>TaskFlow</h2>
        </div>
    </div>
    <script src="{% static 'js/base.js' %}"></script>
</body>

</html>