{% extends 'proyecto/base.html' %}

{% block content %}
<div class="formulario_proyecto sombra">
    <h2 class="titulo-formulario">Crear nueva tarea para el proyecto: {{ proyecto.nombre }}</h2>
    <form method="post">
        {% csrf_token %}

        <div class="campo-form">
            {{ form.nombre.label_tag }}
            {{ form.nombre }}
            {% if form.nombre.errors %}
                <div class="error">{{ form.nombre.errors }}</div>
            {% endif %}
        </div>

        <div class="campo-form">
            {{ form.descripcion.label_tag }}
            {{ form.descripcion }}
            {% if form.descripcion.errors %}
                <div class="error">{{ form.descripcion.errors }}</div>
            {% endif %}
        </div>

        <div class="campo-form">
            {{ form.estado.label_tag }}
            {{ form.estado }}
            {% if form.estado.errors %}
                <div class="error">{{ form.estado.errors }}</div>
            {% endif %}
        </div>

        <div class="campo-form">
            {{ form.asignado_a.label_tag }}
            {{ form.asignado_a }}
            {% if form.asignado_a.errors %}
                <div class="error">{{ form.asignado_a.errors }}</div>
            {% endif %}
        </div>

        <button type="submit" class="boton boton-morado sombra nav-link">Guardar Tarea</button>
    </form>

</div>
{% endblock %}
