{% extends 'proyecto/base.html' %}

{% block content %}
<div class="lista_proyecto sombra">
    <h2 style="margin:0 0 0 1em;padding:1em 0 0 0;">Mis Proyectos</h2>
    <a href="{% url 'proyecto:crear_proyecto' %} " class="nav-link boton-verde boton sombra">Nuevo Proyecto</a>

    <div class="proyectos">
    {% if proyectos %}
    <table class="tabla-proyectos">
        <thead>
            <tr>
                <th>Nombre Proyecto</th>
                <th>Descripción</th>
                <th>Fecha Inicio - Fecha Fin</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for proyecto in proyectos %}
            <tr class="proyecto_item">
                <td>{{ proyecto.nombre }}</td>
                <td>{{ proyecto.descripcion|truncatechars:100 }}</td>
                <td>{{ proyecto.fecha_ini|date:"d/m/Y" }} - {{ proyecto.fecha_fin|date:"d/m/Y" }}</td>
                <td>
                    <a href="{% url 'proyecto:ver_proyecto' proyecto.id %}" class="nav-link boton boton-morado sombra">Ver</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No has creado ningún proyecto aún.</p>
    {% endif %}
</div>

</div>
{% endblock %}